[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1"
djangorestframework = "==3.14"
pyjwt = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
django-on-heroku = "*"
gunicorn = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"
